<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="form-signin-heading">Tu perfil</h1>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Nombre</label>
          <p class="form-control-static">{{ details?.name }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Correo</label>
          <p class="form-control-static">{{ details?.email }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Historial</label>
          <p class="form-control-static">{{ details?.historial }}</p>
        </div>

      </div>
    </div>
  </div>
 <!-- <button routerLink="/question"> Responder preguntas</button>-->
 <button (click)="getHistorial(details?.historial)">Ir a Preguntas </button>
</div>
