body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background: linear-gradient(90deg, rgba(241,240,255,1) 0%, rgba(24,188,255,1) 35%, rgba(0,212,255,1) 100%);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    --bg-overlay-color: rgb(250, 250, 250);
    --fill-layer-image-opacity: 1;
    --fill-layer-background-media-position: fixed;
    --fill-layer-background-media-pointer-events: none;
    width: 100%;
    --column-width: 980px;
    --column-flex: 980;
  }

  .home{
    border: 1em solid white;  
    border-radius: 2em;
    margin:auto; 
    height: 30%; 
    width: 50%; 
    float: none;
    background: linear-gradient(90deg, rgba(241,240,255,1) 0%, rgba(24,188,255,1) 35%, rgba(0,212,255,1) 100%);
  }