<div  style="margin: auto;text-align: center; width: 100%;height: 1000px;">
    <div style="padding:10px; height: 100px;" >
        <h1>Dinos {{ details?.email }} !!!: </h1>
     </div>

     <h2>¿Qué te parecieron hasta ahora las preguntas ? </h2><br>

        <form>
            <h3>     
                <div class="float-left" style="text-align: left; width:100%; height: 100px; padding-left:45%;" >
                    <input type="radio"  name="option" value="good" (click)="getOpinion('good')" ><label>Buenas</label> <br>
                    <input type="radio"  name="option" value="regular" (click)="getOpinion('regular')"><label>Regulares</label><br>
                    <input type="radio"  name="option" value="bad" (click)="getOpinion('bad')"><label>Malas</label> 
                </div>
            </h3>
      
        </form>  
        
    
    <br><button margin="30px" class="btn btn-primary float-center" type="button"   (click)="getHistorial(details?.historial)"><h3>Responder y  volver a los ejercicios</h3></button> <br>
    <br><button margin="50px" class="btn btn-primary float-center" type="button"  routerLink="/profile"><h2>Responder y Salir</h2></button>
</div>